@font-face {
	font-family: "Dancing Script";
	src: url('DancingScript-Regular.ttf');
}

body {
	background-color: #02010a;
	font-family: 'Dancing Script', cursive;
	animation-name: animacion;
	animation-duration: 1.5s;
}

#contenido {
	width: 900px;
	margin: 0 auto;
}
/*header*/
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
}

/*Menu del header*/
header h1,header a:visited,header a:link{
  color: white;
}

.titulo,.menu{
  margin: auto;
}

.titulo{
  margin-right: 10vw;
  text-shadow: 2px 2px #02010a;
}

.menu{
  margin-left: 10vw;

}
.menu a{
	padding-left: 0.5vw;
	color: white;	
	font-size: 19px;	
}

#imagenCentral {
	background-color: #82c3a6;
}

#imagen1 {
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 6px;
}

#imagen1 img {
	width: 100%;
}

.contenedorImagenes {
	background-color: #d5c75f;
}

.contenedorImg {
	width: 95%;
	margin: 0 auto;
	display: flex;
	padding-top: 10px;
}

.foto{
	width: 90%;
	text-align: center;
	padding: 1vw;
}

#foto1, #foto2 ,#foto3 ,#foto4,#foto5 ,#foto6{
	width: 90%;
	border: 2px solid black;
	
}

/*Aplicando Filtros:*/
#foto1{
	-webkit-filter:blur(10px);
	filter: blur(10px);
}

#foto2,#foto4,#foto6{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}

#foto3{
	-webkit-filter:sepia(90%);
	filter: sepia(90%);
}

/**++++++++++++++++++++++++*/

#imagen2 {
	width: 50%;
	text-align: center;
}

#imagen2 img {
	width: 90%;
	border: 2px solid black;
	box-shadow: 3px 5px #02010a;
	transition: transform, 1s;
}

#imagen2 img:hover {
	transform: rotate(10deg);
}

#imagen3 {
	width: 50%;
	text-align: center;
}

#imagen3 img {
	width: 90%;
	border: 2px solid black;
	box-shadow: 3px 5px #02010a;
	transition: transform, 1s;
}

#imagen3 img:hover {
	transform: translate(20px, -5px);
}

.subtitulos {
	margin-top: 0px;
}

.subtitulos a {
	text-decoration: none;
	color: black;
}

footer {
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
}

#contenedorFooter {
	width: 90%;
	margin: 0 auto;
	display: flex;
	padding-bottom: 50px;
}

.contenidoFooter {
	width: 50%;
	padding-bottom: 50px;
}

.contenidoFooter h2 {
	margin-bottom: 1px;
}

.contenidoFooter h4, h5 {
	margin: 2px;
}

.active {
	text-decoration: none;
}

@keyframes animacion {
	0% {
		margin-top: 150%;
		transform: translateY(-5px);
	}
	60% {
		margin-top: -5%;
		transform: translateY(0px);
	}
	100% {
		margin-top: 5px;
		transform: translateY(5px);
	}
}

/*Aplicando media query para adaptarlo al movil*/

@media screen and (max-width:899px) {
	#contenido{
		width: 100%;
	}
	header {	 
	  display: flex;
	  flex-direction: column;
	}
	.titulo{
 		 text-align: center;
 		 margin:auto;
	}
	.menu{	
		text-align: center;
		margin:auto;
		padding-bottom: 3vw;
	}

	.contenedorImg {	
	display: flex;
	flex-direction: column;
	}

	#imagen2, #imagen3{
	width: 100%;
	text-align: center;
	}

	.foto{
	width: 100%;
	text-align: center;
	}

	#contenedorFooter {	
	display: flex;
	flex-direction: column;	
	}

	.contenidoFooter {
	width: 100%;
	padding-bottom: 1vw;
	
	}
	
}